<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nexus" value="http://nexus.your-org.com:8081/repository/nuget-group/index.json" allowInsecureConnections="true" />
    <add key="nuget.org" value="http://nexus.your-org.com:8081/repository/nuget.org-proxy/index.json" allowInsecureConnections="true" />
  </packageSources>
  <packageSourceCredentials>
    <nexus>
      <add key="Username" value="%NEXUS_USER%" />
      <add key="ClearTextPassword" value="%NEXUS_PASSWORD%" />
    </nexus>
  </packageSourceCredentials>
</configuration>
